<html>
<head>
<style>

#main_wrap {
  width: 500px;
  margin: 0 auto; 
}

#table-of-contents {
  float: left;
  width: 20%;
  background-color: #2e3440;
  height: 100%;
}

#postamble {
  float: left;
  width: 100%;
  background-color: #2e3440;
  color: #eceff4; 
}

#content {
  float: left;
  width: 70%;
  background: #eceff4;
  padding-left: 40px;
  padding-right: 40px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 100%;
  background-color: #f1f1f1;
  text-align:center;
}

li a {
  display: block;
  color: #000;
  padding: 8px 16px;
  text-decoration: none;
  text-align:center;
}

li a:hover {
  background-color: #555;
  color: white;
}

.active {
  background-color: red;
  color: white;
}

pre.src {
  background-color: #2e3440;
  color: #eceff4; 
  padding: 8px 16px;
}

.table {
  color: #5e81ac;
  text-align:center;
}

.org-src-container {
  background-color: #2e3440;
  width: 90%;
  overflow-x: auto;
  white-space: nowrap;
  padding: 8px 16px;
  text-align:center;
}

.org-ul {
  background-color: white;
  text-align: left;
}

@media screen and (max-width: 800px) {
  #table-of-contents, #content, #postamble {
  width: 100%; /* The width is 100%, when the viewport is 800px or smaller */
  }
  .org-src-container {
  width: 24em;
  padding: 8px 16px;
  }
}

</style>
</head>
<body>
</body>
</html>
