<html>
<head>
<style>

#main_wrap {
  display: table;
}

#table-of-contents {
  width: 250px;
  display: table-cell;
  background: #2e3440;
  padding-right: 20px;
  padding-left: 20px;
}

#content {
  display: table-cell;
  width: 300px;
  padding-left: 2cm;
  padding-right: 2cm;
  background: #eceff4;
}

pre.src {
  background-color: #2e3440;
  color: #eceff4; 
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}

h2 {
  color: #5e81ac;
}

#postamble {
  background: #2e3440;
  color: #eceff4; 
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 10px;

}

</style>
</head>
<body>
</body>
</html>
